<h1>Popup</h1>
<p>You can easily send messages from the popup to the content page with the provided Tab ID!
  (tabId=<strong>{{ tabId }}</strong>)</p>
  <md-tab-group>
    <md-tab label="Tab 1">Content 1</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
    
  </md-tab-group>
<button (click)="onClick()">Click me to test</button>

<p><strong>{{ message }}</strong></p>
