<tabset>
    <tab >
        <span *tabHeading>
            <b style="color: deepskyblue">Set</b> <i style="color: deeppink">Link</i>
        </span>
        <form #registerForm="ngForm" (ngSubmit)="onSubmitSet()">
            <div class="row m-0">

                <div class="col-lg-8 col-md-12 pt-3 px-4 bg-white">


                    <h4 class="card-title mb-2">Set Short Link</h4>
                    <p class="card-text mb-3">
                        You Can Make Short Link qwp.ir
                    </p>
                    <input [(ngModel)]="modelTargetSetDto.UrlAddress" name="UrlAddress" #UrlAddress="ngModel" required minlength="6" type="text" class="form-control mb-3" placeholder="Url Address" required />

                    <div *ngIf="UrlAddress.invalid && (UrlAddress.dirty || UrlAddress.touched)" class="alert alert-danger">
                        <div *ngIf="UrlAddress.errors.required">
                            Url is required.
                        </div>
                        <div *ngIf="UrlAddress.errors.minlength">
                            Url must be at least 6 characters long.
                        </div>
                    </div>
                    <img src="{{captchaModel.image}}" (click)="onCaptchaOrder()">
                    <input [(ngModel)]="modelTargetSetDto.CaptchaText" type="captchaText" name="captchaText" autocomplete="false" class="form-control mb-3" placeholder="Captcha Text" required />

                    <button class="btn btn-primary"  style="width: 90%;" >Set Link</button>

                </div>
            </div>

        </form>
    </tab>
    <tab>
        <span *tabHeading>
            <i style="color: deepskyblue">Get</i> <b style="color: deeppink">Link</b>
        </span>

        <form #registerForm="ngForm" (ngSubmit)="onSubmitGet()" aria-labelledby="title">

            <div class="row m-0">
                <div class="col-lg-8 col-md-12 pt-3 px-4 bg-white">


                    <h4 class="card-title mb-2">Get Short Link</h4>
                    <p class="card-text mb-3">
                        You Can Get Short Link qwp.ir
                    </p>
                    <input [(ngModel)]="modelTargetGetDto.Id" name="Id" type="text" class="form-control mb-3" placeholder="ID" #getId="ngModel" required />
                    <div *ngIf="getId.invalid && (getId.dirty || getId.touched)" class="alert alert-danger">
                        <div *ngIf="getId.errors.required">
                            ID is required.
                        </div>
                        <div *ngIf="getId.errors.minlength">
                            ID must be at least 3 characters long.
                        </div>
                    </div>
                    <input [(ngModel)]="modelTargetGetDto.Key" name="Key" type="text" class="form-control mb-3" placeholder="Key" #getKey="ngModel" required />
                    <div *ngIf="getKey.invalid && (getKey.dirty || getKey.touched)" class="alert alert-danger">
                        <div *ngIf="getKey.errors.required">
                            Key is required.
                        </div>
                        <div *ngIf="getKey.errors.minlength">
                            Key must be at least 3 characters long.
                        </div>
                    </div>
                    <img src="{{captchaModel.image}}" (click)="onCaptchaOrder()">
                    <input [(ngModel)]="modelTargetGetDto.CaptchaText" type="captchaText" name="captchaText" autocomplete="false" class="form-control mb-3" placeholder="Captcha Text" required />

                    <button class="btn btn-primary" style="width: 90%;" >Get Link</button>
                    <div *ngIf="modelTargetGetResponce && modelTargetGetResponce.Id>0">sssss</div>
                    <img src="{{modelTargetGetResponce.ShortLinkQRCodeBase64}}" style="width:200px">



                </div>
            </div>

        </form>

    </tab>
    <tab>
        <span *tabHeading>
            <i style="color: deepskyblue">Upload </i> <b style="color:deeppink">File</b>
        </span>
        dsdsdds
    </tab>
    <tab>
        <span *tabHeading>
            <i style="color: deepskyblue">Memo </i> <b style="color: deeppink">Save</b>
        </span>
        ssss
    </tab>
</tabset>
<!-- 


<button (click)="onClick()">Click me to test</button>
modelTargetSetDto:
{{modelTargetSetDto | json}}
<br />
modelTargetGetDto:
{{modelTargetGetDto | json}}
<br />
modelTargetSetResponce:
{{modelTargetSetResponce | json}}
<br>
modelTargetGetResponce:
{{modelTargetGetResponce | json}} -->
<p><strong>{{ message }}</strong></p>